:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --MAIN-PURPLE: #46005a;
  --MAIN-PINK: #ff79ff;
  --MAIN-BACKGROUND: #696969;
  --MAIN-LIGHT: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #cacaca;
}

body {
  background-color: var(--MAIN-BACKGROUND);
  color: var(--MAIN-PINK);
}

ul{
  list-style: none;
}